@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Yuji+Mai&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height:5vw;
    background:lightgoldenrodyellow;
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-family:  "Yuji Mai", serif;
    padding:0 80px;
}

.main-container{
    display: flex;
    justify-content: center;
    margin-top:30px;
    border-radius: 10px;
}

.container{
    display: grid;
    color:black;
    position: relative;
    grid-template-rows:repeat(3,12vw);
    grid-template-columns:repeat(3,12vw);
}

.square{
    border: 2px solid rgb(0, 0, 0);
    font-size:10vw;
    display: flex;
    justify-content: center;
    cursor:pointer;
    font-family:'Courier New', Courier, monospace;
    font-weight: 200;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.game-info{
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 3vw;
    margin-left: 30px;
}

.details {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    padding:3px 30px;
    border-radius: 5px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    background: #FAFAD2;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.3vw;
}

.game-info img{
    width:0;
    transition: width 1s ease-in-out;
}
.line {
    position: absolute;
    top: 80px; 
    left: 0;
    background-color: red;
    height: 5px;
    width: 35vw;
    border-radius: 10px;
    display: none;
}

.line1 {
    position: absolute; 
    top: 270px; 
    left: 0; 
    background-color: red;
    height: 5px;
    width: 35vw;
    border-radius: 10px;
    display: none;
}

.line2 {
    position: absolute;
    top: 460px; 
    left: 0;
    background-color: red;
    height: 5px;
    width: 35vw;
    border-radius: 10px;
    display: none;
}

.line3 {
    position: absolute;
    top: 15px; 
    left: 90px; 
    background-color: red;
    height: 35vw;
    width: 5px;
    border-radius: 10px;
    display: none;
}

.line4 {
    position: absolute;
    top: 15px; 
    left: 275px;
    background-color:red;
    height: 35vw;
    width: 5px;
    border-radius: 10px;
    display: none;
}

.line5 {
    position: absolute;
    top: 15px; 
    left: 460px; 
    background-color:red;
    height: 35vw;
    width: 5px;
    border-radius: 10px;
    display: none;
}
.line6 {
    position: absolute;
    top: 275px; 
    left: 10px;
    background-color:red;
    height: 5px;
    width: 35vw;
    border-radius: 10px;
    transform: rotate(45deg);
    display: none;
}

.line7 {
    position: absolute;
    top: 264px; 
    left: 15px;
    background-color:red;
    height: 5px;
    width: 35vw;
    border-radius: 10px;
    transform: rotate(-45deg);
    display: none;
}


@media(max-width:801px){
    .main-container{
        flex-wrap: wrap;
        margin: 0;
    }
    .container{
        grid-template-rows:repeat(3,15vw);
        grid-template-columns:repeat(3,15vw);
    }
    .square{
        font-size:15vw;
    }
    .game-info{
        margin-left: 230px;
        margin-right: 230px;
        margin-top: 30px;
    }
    .line {
        top: 60px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line1 {
        top: 182px; 
        left: 0; 
        height: 5px;
        width: 45vw;
    }
    
    .line2 {
        top: 302px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line3 {
        top: 15px; 
        left: 57px; 
        height: 40vw;
        width: 5px;
    }
    
    .line4 {
        top: 15px; 
        left: 177px;
        height: 40vw;
        width: 5px;
    }
    
    .line5 {
        top: 15px; 
        left: 298px; 
        height: 40vw;
        width: 5px;
    }
    .line6 {
        top: 170px; 
        left: 15px;
        height: 5px;
        width: 40vw;
        transform: rotate(45deg);
    }
    
    .line7 {
        top: 170px; 
        left: 5px;
        height: 5px;
        width: 45vw;
        transform: rotate(-45deg);
    }
}

@media(max-width:701px){
    .main-container{
        flex-wrap: wrap;
        margin: 0;
    }
    .container{
        grid-template-rows:repeat(3,15vw);
        grid-template-columns:repeat(3,15vw);
    }
    .square{
        font-size:15vw;
    }
    .game-info{
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 30px;
    }
    button{
        padding:3px 20px;
    }
    .line {
        top: 50px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line1 {
        top: 160px; 
        left: 0; 
        height: 5px;
        width: 45vw;
    }
    
    .line2 {
        top: 262px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line3 {
        top: 22px; 
        left: 50px; 
        height: 40vw;
        width: 5px;
    }
    
    .line4 {
        top: 22px; 
        left: 155px;
        height: 40vw;
        width: 5px;
    }
    
    .line5 {
        top: 22px; 
        left: 260px; 
        height: 40vw;
        width: 5px;
    }
    .line6 {
        top: 150px; 
        left: 15px;
        height: 5px;
        width: 40vw;
        transform: rotate(45deg);
    }
    
    .line7 {
        top: 150px; 
        left: 5px;
        height: 5px;
        width: 45vw;
        transform: rotate(-45deg);
    }
}

@media(max-width:540px){

    nav{
        height:10vw;
        
        font-size: 4vw;
        font-family:  "Yuji Mai", serif;
        padding:0 40px;
        margin-bottom: 10px;
    }
    .main-container{
        flex-wrap: wrap;
        margin: 0;
    }
    .container{
        grid-template-rows:repeat(3,15vw);
        grid-template-columns:repeat(3,15vw);
    }
    .square{
        font-size:15vw;
    }
    .game-info{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 30px;
    }
    button{
        padding:3px 20px;
    }
    .line {
        top: 40px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line1 {
        top: 123px; 
        left: 0; 
        height: 5px;
        width: 45vw;
    }
    
    .line2 {
        top: 202px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line3 {
        top: 15px; 
        left: 38px; 
        height: 40vw;
        width: 5px;
    }
    
    .line4 {
        top: 15px; 
        left: 119px;
        height: 40vw;
        width: 5px;
    }
    
    .line5 {
        top: 15px; 
        left: 200px; 
        height: 40vw;
        width: 5px;
    }
    .line6 {
        top: 120px; 
        left: 15px;
        height: 5px;
        width: 40vw;
        transform: rotate(45deg);
    }
    
    .line7 {
        top: 116px; 
        left: 5px;
        height: 5px;
        width: 45vw;
        transform: rotate(-45deg);
    }
}

@media(max-width:500px){
    .main-container{
        flex-wrap: wrap;
        margin: 0;
    }
    .container{
        grid-template-rows:repeat(3,15vw);
        grid-template-columns:repeat(3,15vw);
    }
    .square{
        font-size:15vw;
    }
    .game-info{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 30px;
    }
    button{
        padding:3px 15px;
    }
    .line {
        top: 40px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line1 {
        top: 116px; 
        left: 0; 
        height: 5px;
        width: 45vw;
    }
    
    .line2 {
        top: 188px; 
        left: 0;
        height: 5px;
        width: 45vw;
    }
    
    .line3 {
        top: 15px; 
        left: 35px; 
        height: 40vw;
        width: 5px;
    }
    
    .line4 {
        top: 15px; 
        left: 110px;
        height: 40vw;
        width: 5px;
    }
    
    .line5 {
        top: 15px; 
        left: 186px; 
        height: 40vw;
        width: 5px;
    }
    .line6 {
        top: 110px; 
        left: 15px;
        height: 5px;
        width: 40vw;
        transform: rotate(45deg);
    }
    
    .line7 {
        top: 106px; 
        left: 5px;
        height: 5px;
        width: 45vw;
        transform: rotate(-45deg);
    }
}

@media(max-width:360px){
    .main-container{
        flex-wrap: wrap;
        margin: 0;
    }
    .container{
        grid-template-rows:repeat(3,25vw);
        grid-template-columns:repeat(3,25vw);
    }
    .square{
        font-size:20vw;
    }
    .game-info{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        font-size: 5vw;
    }
    button{
        padding:3px 15px;
        font-size: 2vw;
    }
    .line {
        top: 38px; 
        left: 0;
        height: 5px;
        width: 75vw;
    }
    
    .line1 {
        top: 127px; 
        left: 0; 
        height: 5px;
        width: 75vw;
    }
    
    .line2 {
        top: 219px; 
        left: 0;
        height: 5px;
        width: 75vw;
    }
    
    .line3 {
        top: 20px; 
        left: 42px; 
        height: 60vw;
        width: 5px;
    }
    
    .line4 {
        top: 15px; 
        left: 133px;
        height: 60vw;
        width: 5px;
    }
    
    .line5 {
        top: 15px; 
        left: 223px; 
        height: 60vw;
        width: 5px;
    }
    .line6 {
        top: 127px; 
        left: -5px;
        height: 5px;
        width: 75vw;
        transform: rotate(45deg);
    }
    
    .line7 {
        top: 137px; 
        left: -5px;
        height: 5px;
        width: 75vw;
        transform: rotate(-45deg);
    }
}

